@font-face{
  font-family: 'LeahleeSans';
  src: url('./assets/LeahleeSans.ttf') format('truetype');
}

body {
  background-image: url('./assets/background.jpg');
  color: white;
  font-family: 'LeahleeSans', Fallback, sans-serif;
  font-size: 50px;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

#answerDiv {
  padding: 20px;
}

#answer {
  font-size: 30px;
  width: 70%;
  margin:0 auto;
}

#submit {
  height: 50px;
  font-size: 30px;
  text-align:center;
}